/* Header section*/
// @import "../variable";
.header{
    width: 100%;
    background-color: #10B582;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

        #check{
            display: none;
        }

        // label{
        //     display: none;
        //     cursor: pointer;

        //     @media(max-width:768px){
        //         display: block;
        //     }
        // }

        .navigation{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;

            @media(max-width:768px){
                transition: all .5s ease-in-out;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;
                // position: fixed;
                // top: 100px;
                // right: -100vw;
                // bottom: 0;
                // width: 100vw;
                // height: calc(100vh - 80px);
                // background-color: #F7F7F7;
            }
        }

        #check:checked ~ .navigation{
            right: 0;
        }

        .navigation li a{
            color: #fdfdfd;
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
            padding: 8px;

            &:hover{
                border-bottom: 3px dashed #FA9F42;
            }
        }
    }
}
