/* Mentor section */
@import "../abstract/variables";
.mentor{
  width: 100%;
  background-image: url(../images/mentor/mentor.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0;


  &__items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #353A5A;

    @media  screen and (max-width:768px) {
        justify-content: center;
      }

  }

  &__item {
    width: 40%;

    @media  screen and (max-width:768px) {
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      }
  }

  &__title {
    @media  screen and (max-width: 576px) {
       font-size: 2rem;
    }
  }

  &__button {
    padding: 20px 56px;
    background-color: $secondaryColor;
  }

}