@import "../abstract/variables";
.popular {
  width: 100%;
  padding: 100px 0;   

  &__title {
    font-weight: 500;
    font-size: 3.625rem;
    text-align: center;
    color: #353a5a;

    @media  screen and (max-width:576px) {
      font-size: 3rem;
    }
  }

  &__cards {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media  screen and (max-width:991px) {
      flex-wrap: wrap;
    }

    @media  screen and (max-width:576px) {
      flex-direction: column;
    }
  }

  &__card {
    padding: 20px;
    background: #FDFDFD;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;

    @media  screen and (max-width:991px) {
      flex-basis: 45%;
    }

    @media  screen and (max-width:576px) {
      text-align:center;
    }

    &-text {
      padding-top: 15px;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__btn {
    background-color: $mainColor;
  }
}