.footer {
  width:100%;
  padding-top: 100px;

  &__hr {
    width: 100%;
    border: 1px solid #353a5a;
    opacity: 0.1;
  }

  &__main {
    padding: 80px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // flex-wrap: wrap;
    gap: 20px;


    @media screen and (max-width:1200px) {
      gap: 3rem;
    }

    @media screen and (max-width:992px) {
      gap: 2rem 1rem;
    }

    @media screen and (max-width:768px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width:576px) {
      gap: 2rem;
    }
  }

  &__social-icons {
    padding-top: 20px;
    display: flex;
    gap: 20px;

    a:hover {
      transform: scale(1.2);
    }
  }

  &__first-link {
    padding-left: 50px;

    @media screen and (max-width:460px) {
      padding-left: 0;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;

    &-items {
      display: flex;
    }

    &-title {
      color: #353a5a;
    }

    &-link {
      color: #353a5a;
    }
  }


  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 33px 0 36px 0;

    @media screen and (max-width: 850px) {
      padding: 33px 0 30px 0;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }

      a,
      &-text {
        color: #353a5a;
        font-weight: 400;
        line-height: 14px;
      }


      &-items {
        display: flex;
        justify-content: space-between;
        gap: 20px;

           @media screen and (max-width: 576px) {
            text-align: center;
          }
      }
  }
  

}